
<div class="row">
	<div class="content column small-12 medium-7 large-8">
		<div class="content-box column small-12">
			<div class="content-box-header column small-12">
				<div class="title-text">
				</div>

				<div class="title-date">
					<?= date('j F Y', $addon->uploaded) ?>
				</div>
			</div>

			<div class="content-box-content column small-12">
				<div class="content-text">
					<?= $addon->addon_description ?>
				</div>
			</div>
		</div>
	</div>

	<div class="content column small-12 medium-5 large-4">
		<div class="content-box-sidebar border column small-12">
			<div class="content-box-header column small-12">
				<div class="title-text">
					Download Information
				</div>
			</div>

			<div class="content-box-content column small-12">
				<table class="addons-info">
						<?php foreach($this->addon_model->getFileId($id)->result() as $size) { ?>
					<tr>
						<td>Filename</td>
						<td><?= $size->file_name ?></td>
					</tr>

					<tr>
						<td>Size</td>
						<td><?= $size->file_size ?></td>

					</tr>

						<?php } ?>

					<tr>
						<td>Uploader</td>
						<td><?= $addon->addon_uploader ?></td>
					</tr>

					<tr>
						<td>Downloads</td>
						<td><?= $addon->downloads ?></td>
					</tr>

					<tr>
						<td>Category</td>
						<td><?= $category[$addon->category] ?></td>
					</tr>

					<tr>
						<td>Expansion</td>
						<td><?= $expansion[$addon->expansion] ?></td>
					</tr>
				</table>

				<div class="download-info">
					<center>
						<a href="addons/download?id=" class="small button">DOWNLOAD</a>
					</center>
				</div>
			</div>
		</div>
	</div>
</div>
